<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Among us Hi-Tech</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body style="text-align: center">
    <div class="btn">
        <button id="show"><span id="show-text">Показать роль</span></button>
    </div>
    <div class="block">
        <h1 id="role-text">Ваша роль: </h1> <h1 id="role" style="display: none">{{ role }}</h1> <h1 id="shield" >???</h1>
    </div>
    <hr/>
    <h2>Ваши задания:</h2>
    <div class="block">
    <ul class="list">
        {% for task in tasks %}
        <li class="list-item">
            <input type="checkbox" class="hidden-box" id={{ task }} />
            <label for={{ task }} class="check--label">
                <span class="check--label-box"></span>
                <span class="check--label-text">{{task}}</span>
            </label>
        </li>
        {% endfor %}
    </ul>
</div>

    <p id="wishes">Удачной игры :)</p>
</body>
    <script src="{{url_for('static', filename='script.js')}}" type="text/javascript"></script>
</html>